body {
    /*Account for the height of the navbar component*/
    padding-top: 3.5rem;
}

/*Sets the size and style of the globe container*/
.globe {
    width: 100%;
    height: calc(100vh - 3.5rem);
    background-color: black;
}

/*Sets the position of a container displayed over the globe container*/
.globe-overlay {
    position: absolute;
    width: 100%;
    top: 3.5rem;
}

Sets the background color of Cards displayed over the globe .globe-card {
    background: rgba(255, 255, 255, 0.7);
}

/*When the modal fills the screen it has no margin on top and bottom*/
/*Centers the modal*/
.modal-dialog {
    margin: 0 auto;
}

/*Sets the maximum height of the entire modal to 100% of the screen height*/
.modal-content {
    max-height: 100vh;
}

/*Sets the maximum height of the modal body to 90% of the screen height*/
.modal-body {
    max-height: 90vh;
}

/*Sets the height of a modal's canvas to 30% or 200px*/
.modal-body-canvas {
    max-height: 200px;
    height: 30vh;
}

/*Sets the height of a modal's canvas to 60% minus the height of a footer*/
.modal-body-table {
    max-height: calc(60vh - 71px);
    overflow-y: auto;
}

#iss-location {
    top: 80px;
    left: 5px;
    position: absolute;
    border: 0;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;
    transition: all 250ms;
    font-size: 16px;
    touch-action: manipulation;
    margin: 4px 2px;
    cursor: pointer;
    border-radius:10px;
    user-select: none;
    -webkit-user-select: none;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  }

  /* The small map */
  .container {
    bottom: 0%;
    left: 84.5%;
    width: 200;
    height: 200;
    position: fixed;
  }
  
#iss-location:hover {
  transform: scale(1.05) rotate(-1deg);
}

#iss-location:active {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,
  rgba(44,187,99,.25) 0 1px 2px,
  rgba(44,187,99,.25) 0 2px 4px,
  rgba(44,187,99,.25) 0 4px 8px,
  rgba(44,187,99,.25) 0 8px 16px,
  rgba(44,187,99,.25) 0 16px 32px;
  transform: translateY(2px);
}

#loading {
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.8;
    position: fixed;
    top:0;
    left: 0;
    z-index: 1;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.5s, visibility 0.5s;
    visibility: visible;
  }
  .disappear {
    opacity: 0!important;
    visibility: hidden!important;
  }

/* Prevents an element, like a <div/> from consuming user input */
.noninteractive {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    pointer-events: none;
}

/* Allows an element to receive user input */
/* Useful if a parent element is using .noniteractive */
.interactive {
    -webkit-touch-callout: auto !important;
    -webkit-user-select: auto !important;
    -khtml-user-select: auto !important;
    -moz-user-select: auto !important;
    -ms-user-select: auto !important;
    -o-user-select: auto !important;
    pointer-events: auto !important;
}